.hero-image{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/css-img/corporate-software-skills.jpg");
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/css-img/corporate-software-skills.jpg");
	background-size: cover;
	height: 100vh;
  background-position: top;
}

.software-skills-framework-wrapper{
  padding-top: 20px;
}

.section-contents{
	height: 100%;
}
