.hero-image{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/css-img/individual-working-professional-executive-coaching.jpg");
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/css-img/individual-working-professional-executive-coaching.jpg");
	background-repeat: no-repeat;
}

.section-contents{
	height: 100%;
}

img{
	display: block;
}

.img1{
	padding-bottom: 5%;
}
