.hero-image{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/css-img/individual-technology-student-behavioral-skills-els-page.jpg");
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/css-img/individual-technology-student-behavioral-skills-els-page.jpg");
	background-size: cover;
	height: 100vh;
}

h6{
  text-decoration: underline;
  font-weight: bold;
}

.section-contents{
	height: 100%;
}
