.hero-image{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/css-img/institute-technology-institute-faculty-development-program.jpg");
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/css-img/institute-technology-institute-faculty-development-program.jpg");
	background-position: top;
}

.communication-skills-development-framework-wrapper, .behavioral-soft-skills-framework-wrapper{
  padding-top: 20px;
}

.section-contents{
	height: 100%;
}
